.content-container {
  background-color: #f8f8f8;
  color: black;
  padding: 1rem 2rem;
}

.contentHeader {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 4rem;
  padding-bottom: 1rem;
  align-items: center;
  padding-right: 3rem;
}
.filterIcon {
  justify-self: self-end;
}
.contentTitle {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 4px;
  font-style: italic;
  text-transform: uppercase;
}
.contentDescription {
  /* font-family: monospace; */
  font-size: 1rem;
  letter-spacing: 1px;
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.footerDescriptionContainer {
  padding: 4rem;
  display: grid;
  gap: 1rem;
}
.footerTitleDescription {
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 2rem;
}
.footerDescription {
  /* padding: 4rem; */
}

@media screen and (max-width: 950px) {
  .productContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 680px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .contentHeader {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
  }
  .filterIcon {
    width: 7rem;
    align-self: flex-start;
  }
  .footerDescriptionContainer {
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }
}
