.cartContainer {
  position: relative;
}
.cartIcon {
  padding: 5px 15px;
  height: 1.6rem;
}
.cartNum {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgb(0, 0, 130);
  height: 23px;
  width: 23px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
