.displayInfoContainer {
  border-top: 1px solid grey;
  /* border-bottom: 1px solid grey; */
  margin: 1rem;
  padding: 1rem;
}
.displayInfoTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.displayInfoTitle {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: monospace;
}
.displayInfoIcon {
  height: 2rem;
}
.displayInfoChildren {
  padding: 2rem;
}
