.favScreenContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f8f8f8;
  color: black;
  gap: 2rem;
  padding: 2.5rem;
}
.favTitleContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.favKeepBuyingButtonContainer {
  background-color: black;
  border: 2px solid black;
}
.favItemsContainer {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.noFavs {
  font-size: large;
  font-weight: 600;
}

@media screen and (max-width: 950px) {
  .favItemsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 680px) {
  .favItemsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
