.favScreenContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f8f8f8;
  color: black;
  /* display: grid; */
  gap: 2rem;
  /* grid-template-columns: 3fr 2fr; */
  padding: 2.5rem;
}
.favTitleContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.favKeepBuyingButtonContainer {
  background-color: black;
  border: 2px solid black;
}
.noFavs {
  font-size: large;
  font-weight: 600;
}
