.header {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding: 0.5rem 3rem;
  position: relative;
}
.menuContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerLinks {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.links {
  border-bottom: 3px solid transparent;
  transition: border 0.5s ease-out;
}
.links:hover {
  border-bottom: 3px solid black;
  cursor: pointer;
}
.links div {
  color: black;
}

.logo {
  height: 4rem;
}
.auxiliar-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.input-wrapper {
  border-radius: 2px;
  overflow: hidden;
  background-color: rgb(206, 206, 206);
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
}
.input-wrapper:focus-within {
  border: 1px solid black;
}
input {
  border: 2px solid transparent;
  font-size: 1rem;
  background-color: transparent;
  transition: border-color 0.25s;
  color: rgb(72, 72, 72);
  outline: none;
  letter-spacing: 1px;
}
input:focus {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.inputImg {
  height: 1.3rem;
  cursor: pointer;
  transition: transform 0.5s;
}
.inputImg:hover {
  transform: scale(1.2);
}
.favIconContainer {
  position: relative;
  padding: 12px 15px;
}
.favNum {
  background-color: rgb(0, 99, 212);
  position: absolute;
  top: 1px;
  right: 1px;
  height: 20px;
  width: 20px;
  font-size: 10px;
  font-weight: 600;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check {
  display: none;
}
.headerMenuIcons {
  width: fit-content;
  cursor: pointer;
  display: none;
  align-self: center;
}
@media screen and (max-width: 992px) {
  .menuContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: fit-content;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #505050;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 3;
    padding: 2rem 0;
  }
  .input-wrapper {
    display: none;
  }
  .headerLinks {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #check:checked ~ .menuContainer {
    width: 50%;
    padding: 2rem;
  }

  .headerMenuIcons,
  .headerMenuIcons .menuIcon {
    display: inline-block;
  }
  /* .headerMenuIcons .closeIcon {
    display: none;
  }
  #check:checked ~ .headerMenuIcons .menuIcon {
    display: none;
  } */
  #check:checked ~ .menuContainer .headerMenuIcons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
