.header {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding: 0.5rem 3rem;
}
.headerLinks {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.auxiliar-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.search {
  background-color: rgb(208, 208, 208);
  color: black;
  border: none;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
  border: 1px solid transparent;
}
.search:focus {
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 0;
}
