.header {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding: 0.5rem 3rem;
}
.headerLinks {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.links {
  border-bottom: 3px solid transparent;
  transition: border 0.5s ease-out;
}
.links:hover {
  border-bottom: 3px solid black;
  cursor: pointer;
}

.logo {
  height: 3.5rem;
}
.auxiliar-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.input-wrapper {
  border-radius: 2px;
  overflow: hidden;
  background-color: rgb(206, 206, 206);
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
}
.input-wrapper:focus-within {
  border: 1px solid black;
}
input {
  border: 2px solid transparent;
  font-size: 1rem;
  background-color: transparent;
  transition: border-color 0.25s;
  color: rgb(72, 72, 72);
  outline: none;
  letter-spacing: 1px;
}
input:focus {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.inputImg {
  height: 1.2rem;
  cursor: pointer;
}
