.mainScreenContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: black;
}
.container {
  position: relative;
}
.mainPic {
  width: 100%;
}
.mainScreenLink {
  position: absolute;
  width: 20rem;
  bottom: 3rem;
  left: 5rem;
}
.secondContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
