.mainScreenContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: black;
}
.topBar {
  position: relative;
  height: 400px;
}
.secondContainer {
  display: flex;
}
.container {
  position: relative;
  width: 50%;
  height: 400px;
  overflow: hidden;
}
.mainPic {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}
.mainScreenLink {
  position: absolute;
  width: fit-content;
  top: 10%;
  left: 5%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .secondContainer {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    height: 300px;
  }
}
