.productCardContainer {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* background-color: white; */
  /* padding-bottom: 5px; */
}
.productCardContainer:hover .productPrice {
  transform: translateX(0.5rem) scale(1.1);
}
.imgCardContainer {
  position: relative;
  display: flex;
}
.productImg {
  width: 100%;
}
.favImg {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 1.4rem;
  transition: transform 0.5s;
  z-index: 2;
}
.favImg:hover {
  transform: scale(1.1);
}
.productPrice {
  background-color: white;
  color: black;
  width: min-content;
  padding: 2px 5px;
  font-size: 0.9rem;
  font-family: monospace;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 2px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}
.productName {
  font-family: monospace;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -1px;
  color: black;
}
.productCategory {
  color: grey;
}
.productLabel {
  font-size: 0.8rem;
  color: black;
}
